*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}
.n{
    flex: 5;
}
.logo{
    height: 100%;
    contain: content;
    padding-left: 25px;
    padding-top: 15px;
    cursor: pointer;
    
}
.nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.menu{
    height: 14px;
    width: 35px;
    transition: all 0.15s;
}
.nav-items{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: black;

}
.nav-items::before{
    content: "";
    position: absolute;
    background-color: #d9f688;
    height: 0px;
    width:calc(100% + 20px);
    z-index: -1;
    border-radius: 5px;
    bottom: -5px;
    margin-right: -10px;
    margin-left: -10px;
    transition: height 0.75s;
    overflow: hidden;
    transform-style: flat;

}
.nav-items:hover{
    cursor: pointer;
}
.nav-items:hover:before{
    height: 85px;
    
}
.menu:hover{
    cursor: pointer;
    height: 18px;
    opacity: 0.5;

}
main{
    display: flex;
    flex-wrap: wrap;
}
section{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding-top: 0;
    
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -50px;
    animation-name: upp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}
.img{
    flex: 3;
    padding-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
}
.i{
    transform: translateX(1000px);
    height: 250px;
    border-radius: 125px;
    animation-name: slider1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.order-now{
    text-decoration: none;
    color: black;
    background-color:  #b9de53;
    width: 150px;
    text-align: center;
    padding:25px 25px ;
    border-radius: 35px;
    transition: all 0.3s;
    font-weight: bold;
    font-size: larger;
    animation-name: upp;
    animation-duration: 1s;
    animation-fill-mode: forwards;


}
.order-now:hover{
    background-color: black;
    color: aliceblue;
    scale: 1.25;
}
.order-now:active{
    opacity: 0.6;
}

@keyframes upp{
    0%{
        transform: translatey(200px);
        opacity: 0.5;

    }
    100%{
        transform: translateY(-50px);
        opacity: 1;
    }
}
@keyframes slider1{
    0%{
        transform: translatex(500px);
        

    }
    100%{
        transform: translatex(0);

    }
}

@media screen {
    .nav-left{
        flex: 16;
    }
    section{
        padding-top: 100px;
    }
  
    
}